.selContainer {
    display: flex;
    gap:10px;
    justify-content: center;

}

.selOrange {
    border: solid 2px black;
    background-color: orange;
    height: 200px;
    width: 200px;
}


.selGreen {
    border: solid 2px black;
    background-color: green;
    height: 200px;
    width: 200px;
}