.configContainer{
    height: 100vh;
    width: 100%;
    background-color: moccasin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px
}

.selected {
    background-color: green;
    border: solid 2px black;
}

.notselected {
    background-color: gray;
    border: solid 2px white;

}


.configContainer > div > div {
    cursor: pointer;
    margin-top:10px
}

.total {
    background-color: red;  
}
